.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #FFAAAA;
}

.bg2 {
  background-color: #FFBBBB;
}

.bg3 {
  background-color: #FFCCCC;
}

.bg4 {
  background-color: #FFDDDD;
}